__pycache__/
*.py[cod]
.DS_Store
.env
.env.*
.ruff_cache/
.mypy_cache/
.pytest_cache/
.pre-commit-cache/
.venv/
venv/
env/

data/
workflows/*
js/node_modules/
js/.eslintcache
js/.vite/
npm-debug.log*
yarn-error.log*
