@import './tailwind.css';
@import './tokens.css';
@import './base.css';
@import './palette.css';
@import './ui-kit.css';
@import './studio.css';
@import './workflow.css';
@import './overlays.css';
@import './aliases.css';
@import './tags.css';
@import './gallery.css';
@import './composer.css';
@import './utilities.css';
